Repository ppiyush13/react-styled-flex: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test:precommit, npm run lint:precommit, npm run lint-md

.lintstagedrc:

{
    "*.{js,jsx,json}": [
        "npm run test:precommit",
        "npm run lint:precommit"
    ],
    "*.md": [
        "npm run lint-md"
    ]
}

1.0.7
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Adding dist source maps
  package-lock.json
  package.json
  rollup.config.js
Due: npm run test:precommit, npm run lint:precommit

Adding dist source maps
  rollup.config.js
Due: npm run test:precommit, npm run lint:precommit

1.0.8
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

make rimraf dev dep
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.9
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

upgrade deps version
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.10
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Adding perf test scripts
  test/performance/PerformanceUtil.js
  test/performance/index.test.js
  test/theme/ThemeProvider.test.js
Due: npm run test:precommit, npm run lint:precommit

Upgrade deps
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.11
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Update dev deps
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.12
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Specify extension to npm badge
  README.md
Due: npm run lint-md

1.0.13
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Updage jest-dom
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.14
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.15
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Upgrade babel deps
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.16
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

update deps
  .babelrc
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.17
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Updagrading deps
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

1.0.18
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Use childNodes instead of childrens to make it compatible with IE
  package-lock.json
  package.json
  src/detectFlexGapFeature.js
Due: npm run test:precommit, npm run lint:precommit

1.0.19
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint:precommit

Upgrade all npm modules and introduce typescript
  .babelrc
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  readme-v1.md
  rollup.config.js
  rollup.config.mjs
  rollup.load-package-json.cjs
  setupTests.js
  src/cleanElement.js
  src/constants.ts
  src/createHtmlElement.js
  src/detectFlexGapFeature.js
  src/detectFlexGapFeature.ts
  src/index.js
  src/index.ts
  src/memoize.js
  test-setup.ts
  test/cleanElement.test.js
  test/createHtmlElement.test.js
  test/detectFlexGapFeature.core.test.js
  test/detectFlexGapFeature.memoize.test.js
  test/detectFlexGapFeature.ssr.test.ts
  test/detectFlexGapFeature.test.ts
  test/dom-leak.test.tsx
  test/gap.test.tsx
  test/index.test.js
  test/memoize.test.js
  test/performance/PerformanceUtil.js
  test/performance/index.test.js
  test/props.test.tsx
  test/ref.test.tsx
  test/ref/FlexBox.test.js
  test/theme/ThemeProvider.test.js
  test/util/mockComputedStyles.ts
  tsconfig.json
Due: npm run test:precommit, npm run lint:precommit, npm run lint-md

add build and test scripts
  .lintstagedrc
  package-lock.json
  package.json
  rollup.config.mjs
  src/index.ts
Due: npm run test:precommit, npm run lint:precommit

testing husky
  src/index.ts
Due: none

testing husky
  .husky/.gitignore
  src/index.ts
Due: none

remove husky and lint-staged
  .husky/.gitignore
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  src/index.ts
Due: npm run test:precommit, npm run lint:precommit

Fix lint command
  package.json
  src/index.ts
Due: npm run test:precommit, npm run lint:precommit

setup github actions
  .github/workflows/build.yml
  package.json
Due: npm run test:precommit, npm run lint:precommit

Fix build.yml
  .github/workflows/build.yml
Due: none

rename build.yml -> workflow.yml
  .github/workflows/workflows.yml
Due: none

Rename jobs
  .github/workflows/workflow.yml
Due: none

Make ecmascript version to 2021 in eslint config
  .eslintrc
Due: none

Sort package.json fields
  package.json
Due: npm run test:precommit, npm run lint:precommit

Remove lint-staged related scripts
  .vscode/settings.json
  README.md
  package.json
Due: npm run test:precommit, npm run lint:precommit, npm run lint-md

make all files name to be follow kebab case
  src/detect-flex-gap-support.ts
  src/index.ts
  test/detect-flex-gap-support-ssr.test.ts
  test/detect-flex-gap-support.test.ts
  test/detectFlexGapFeature.ssr.test.ts
  test/util/mock-computed-styles.ts
Due: none
