Repository ppiyush13/react-styled-flex: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test:precommit, npm run lint, npm run lint-md

upgrade dev deps
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint

use alpha-ci instead of np for releasing package
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint

remove v1 readme
  readme-v1.md
Due: npm run lint-md

Add MIT license file
  license
Due: none

Prepare for npm publish using alpha-ci
  .github/workflows/publish.yml
  .github/workflows/workflow.yml
  package.json
Due: npm run test:precommit, npm run lint

rectify command in publish.yml
  .github/workflows/publish.yml
Due: none

version 2 documentation
  .vscode/settings.json
  README.md
Due: npm run test:precommit, npm run lint, npm run lint-md

Prepare to release version 2.0.0-rc.0
  .github/workflows/publish.yml
Due: none

remove npm version command from publish.yml
  .github/workflows/publish.yml
  package.json
Due: npm run test:precommit, npm run lint

rename worklow names
  .github/workflows/publish.yml
  .github/workflows/workflow.yml
Due: none

update bundle size in readme
  README.md
Due: npm run lint-md

add displayName config to styled compononets
  src/index.ts
  tsconfig.json
  types/styled-components.d.ts
Due: npm run test:precommit, npm run lint

replace package.json dts field with types field
  package.json
  rollup.config.mjs
Due: npm run test:precommit, npm run lint

remove exports field from package.json and add unpkg field
  package.json
Due: npm run test:precommit, npm run lint

rectify main field to point to correct cjs bundle file
  package.json
Due: npm run test:precommit, npm run lint

Export FlexGapSupportedClassName and FlexGapNotSupportedClassName
  src/constants.ts
  src/detect-flex-gap-support.ts
  src/index.ts
  test/detect-flex-gap-support.test.ts
  test/gap.test.tsx
  test/react-styled-flex.test.ts
Due: npm run test:precommit, npm run lint

fix md lint issues
  README.md
  package-lock.json
  package.json
  src/constants.ts
  src/index.ts
  test/react-styled-flex.test.ts
Due: npm run test:precommit, npm run lint, npm run lint-md

examples using create-react-app
  .vscode/settings.json
  examples/create-react-app/.env
  examples/create-react-app/.gitignore
  examples/create-react-app/README.md
  examples/create-react-app/package-lock.json
  examples/create-react-app/package.json
  examples/create-react-app/public/favicon.ico
  examples/create-react-app/public/index.html
  examples/create-react-app/public/logo192.png
  examples/create-react-app/public/logo512.png
  examples/create-react-app/public/manifest.json
  examples/create-react-app/public/robots.txt
  examples/create-react-app/src/App.js
  examples/create-react-app/src/globalStyles.js
  examples/create-react-app/src/index.js
  examples/create-react-app/src/logo.svg
Due: npm run test:precommit, npm run lint, npm run lint-md

add example create-react-app with typescript
  examples/create-react-app-typescript/.env
  examples/create-react-app-typescript/.gitignore
  examples/create-react-app-typescript/README.md
  examples/create-react-app-typescript/package-lock.json
  examples/create-react-app-typescript/package.json
  examples/create-react-app-typescript/public/favicon.ico
  examples/create-react-app-typescript/public/index.html
  examples/create-react-app-typescript/public/logo192.png
  examples/create-react-app-typescript/public/logo512.png
  examples/create-react-app-typescript/public/manifest.json
  examples/create-react-app-typescript/public/robots.txt
  examples/create-react-app-typescript/src/App.tsx
  examples/create-react-app-typescript/src/globalStyles.js
  examples/create-react-app-typescript/src/index.tsx
  examples/create-react-app-typescript/src/logo.svg
  examples/create-react-app-typescript/src/react-app-env.d.ts
  examples/create-react-app-typescript/tsconfig.json
Due: npm run test:precommit, npm run lint, npm run lint-md

add next.js example
  examples/next-js/.babelrc
  examples/next-js/.gitignore
  examples/next-js/README.md
  examples/next-js/package-lock.json
  examples/next-js/package.json
  examples/next-js/pages/_app.js
  examples/next-js/pages/_document.js
  examples/next-js/pages/index.js
Due: npm run test:precommit, npm run lint, npm run lint-md

add example for next.js with typescript
  examples/next-js-typescript/.gitignore
  examples/next-js-typescript/README.md
  examples/next-js-typescript/next-env.d.ts
  examples/next-js-typescript/package-lock.json
  examples/next-js-typescript/package.json
  examples/next-js-typescript/pages/_app.tsx
  examples/next-js-typescript/pages/_document.tsx
  examples/next-js-typescript/pages/index.tsx
  examples/next-js-typescript/tsconfig.json
Due: npm run test:precommit, npm run lint, npm run lint-md

add example for gatsby-typescript
  examples/gatsby-typescript/.gitignore
  examples/gatsby-typescript/.prettierignore
  examples/gatsby-typescript/.prettierrc
  examples/gatsby-typescript/LICENSE
  examples/gatsby-typescript/README.md
  examples/gatsby-typescript/gatsby-config.js
  examples/gatsby-typescript/gatsby-ssr.js
  examples/gatsby-typescript/package-lock.json
  examples/gatsby-typescript/package.json
  examples/gatsby-typescript/src/components/layout.tsx
  examples/gatsby-typescript/src/pages/index.tsx
  examples/gatsby-typescript/static/favicon.ico
  examples/gatsby-typescript/tsconfig.json
  examples/gatsby-typescript/yarn.lock
Due: npm run test:precommit, npm run lint, npm run lint-md

add gatsby example
  examples/gatsby/.gitignore
  examples/gatsby/.prettierignore
  examples/gatsby/.prettierrc
  examples/gatsby/LICENSE
  examples/gatsby/README.md
  examples/gatsby/gatsby-config.js
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/package-lock.json
  examples/gatsby/package.json
  examples/gatsby/src/components/layout.js
  examples/gatsby/src/pages/index.js
  examples/gatsby/static/favicon.ico
  examples/gatsby/yarn.lock
Due: npm run test:precommit, npm run lint, npm run lint-md

lint examples dir
  .eslintignore
  .vscode/settings.json
  examples/gatsby-typescript/gatsby-config.js
  examples/gatsby-typescript/src/components/layout.tsx
  examples/gatsby-typescript/src/pages/index.tsx
  examples/gatsby/gatsby-config.js
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/src/components/layout.js
  examples/gatsby/src/pages/index.js
  examples/next-js-typescript/next-env.d.ts
  examples/next-js-typescript/pages/_app.tsx
  examples/next-js-typescript/pages/_document.tsx
  examples/next-js-typescript/pages/index.tsx
  examples/next-js/pages/_app.js
  examples/next-js/pages/_document.js
  examples/next-js/pages/index.js
Due: npm run test:precommit, npm run lint

add example of parcel-typescript
  examples/next-js-typescript/tsconfig.json
  examples/parcel-typescript/.gitignore
  examples/parcel-typescript/.parcelrc
  examples/parcel-typescript/package-lock.json
  examples/parcel-typescript/package.json
  examples/parcel-typescript/src/App.tsx
  examples/parcel-typescript/src/globalStyles.ts
  examples/parcel-typescript/src/index.html
  examples/parcel-typescript/src/index.tsx
  examples/parcel-typescript/tsconfig.json
Due: npm run test:precommit, npm run lint

remove extra type from parcel-typescript example
  examples/parcel-typescript/src/App.tsx
Due: npm run test:precommit, npm run lint

add example for parcel
  examples/parcel-app/.gitignore
  examples/parcel-app/package-lock.json
  examples/parcel-app/package.json
  examples/parcel-app/readme.md
  examples/parcel-app/src/App.jsx
  examples/parcel-app/src/globalStyles.js
  examples/parcel-app/src/index.html
  examples/parcel-app/src/index.js
Due: npm run test:precommit, npm run lint, npm run lint-md

sort package.json fields of example packages
  examples/create-react-app-js/package.json
  examples/create-react-app-ts/package.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/package.json
  examples/next-js/package.json
Due: npm run test:precommit, npm run lint

remove additional spaces
  .vscode/settings.json
  license
Due: npm run test:precommit, npm run lint

generate package-lock.json
  examples/create-react-app-js/package-lock.json
  examples/create-react-app-js/package.json
  examples/create-react-app-ts/package-lock.json
  examples/create-react-app-ts/package.json
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/next-js/package-lock.json
  examples/next-ts/package-lock.json
  examples/next-ts/package.json
  examples/parcel-js/package-lock.json
  examples/parcel-js/package.json
Due: npm run test:precommit, npm run lint

generate package-lock.json
  examples/parcel-ts/package-lock.json
  examples/parcel-ts/package.json
Due: npm run test:precommit, npm run lint

improve gatsby examples
  examples/gatsby-js/src/assets/logo.svg
  examples/gatsby-js/src/pages/index.js
  examples/gatsby-ts/src/assets/logo.svg
  examples/gatsby-ts/src/pages/index.tsx
Due: npm run test:precommit, npm run lint

Add readme in example repositories
  examples/create-react-app-js/README.md
  examples/create-react-app-ts/README.md
  examples/gatsby-js/.prettierignore
  examples/gatsby-js/.prettierrc
  examples/gatsby-js/README.md
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/.prettierignore
  examples/gatsby-ts/.prettierrc
  examples/gatsby-ts/README.md
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/next-js/README.md
  examples/next-js/package.json
  examples/next-ts/README.md
  examples/next-ts/package.json
  examples/parcel-ts/README.md
Due: npm run test:precommit, npm run lint, npm run lint-md

Add license in readme
  examples/create-react-app-js/LICENSE
  examples/create-react-app-js/README.md
  examples/create-react-app-ts/LICENSE
  examples/create-react-app-ts/README.md
  examples/gatsby-js/LICENSE
  examples/gatsby-js/README.md
  examples/gatsby-ts/LICENSE
  examples/gatsby-ts/README.md
  examples/next-js/LICENSE
  examples/next-js/README.md
  examples/next-ts/LICENSE
  examples/next-ts/README.md
  examples/parcel-js/LICENSE
  examples/parcel-js/README.md
  examples/parcel-ts/LICENSE
  examples/parcel-ts/README.md
Due: npm run lint-md

improving gatsby examples
  .vscode/settings.json
  examples/gatsby-js/gatsby-ssr.js
  examples/gatsby-js/static/favicon.ico
  examples/gatsby-ts/gatsby-ssr.js
  examples/gatsby-ts/static/favicon.ico
  examples/next-js/pages/_document.js
  examples/next-ts/pages/_document.tsx
Due: npm run test:precommit, npm run lint

improve parcel examples
  examples/parcel-js/src/App.jsx
  examples/parcel-js/src/index.html
  examples/parcel-ts/src/App.tsx
  examples/parcel-ts/src/index.html
Due: npm run test:precommit, npm run lint

improve nextjs examples
  examples/next-js/pages/_document.js
  examples/next-js/pages/index.js
  examples/next-js/public/logo.png
  examples/next-ts/pages/_document.tsx
  examples/next-ts/pages/index.tsx
  examples/next-ts/public/logo.png
Due: npm run test:precommit, npm run lint

improve create-react-app example
  examples/create-react-app-js/README.md
  examples/create-react-app-js/public/index.html
  examples/create-react-app-js/src/App.js
  examples/create-react-app-js/src/logo.svg
  examples/create-react-app-ts/README.md
  examples/create-react-app-ts/public/index.html
  examples/create-react-app-ts/src/App.tsx
  examples/create-react-app-ts/src/logo.svg
Due: npm run test:precommit, npm run lint, npm run lint-md

linting examples
  examples/gatsby-js/gatsby-ssr.js
  examples/gatsby-js/src/pages/index.js
  examples/gatsby-ts/gatsby-ssr.js
  examples/gatsby-ts/src/pages/index.tsx
  examples/next-js/pages/index.js
  examples/next-ts/pages/index.tsx
  examples/parcel-js/src/App.jsx
  examples/parcel-js/src/globalStyles.js
  examples/parcel-js/src/index.js
  examples/parcel-ts/src/App.tsx
  examples/parcel-ts/src/globalStyles.ts
  examples/parcel-ts/src/index.tsx
Due: npm run test:precommit, npm run lint

Path conditions:
  npm run test:precommit: any of: *.{js,ts,jsx,tsx,json}
  npm run lint: any of: *.{js,ts,jsx,tsx,json}
  npm run lint-md: any of: *.md
