Repository ppiyush13/react-styled-flex: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test:precommit, npm run lint, npm run lint-md

add title and alt text
  examples/next-js/pages/index.js
  examples/next-ts/pages/index.tsx
  examples/parcel-js/src/App.jsx
  examples/parcel-ts/src/App.tsx
Due: npm run test:precommit, npm run lint

update examples to use react-styled-flex@2.0.0-rc.1
  examples/create-react-app-js/package-lock.json
  examples/create-react-app-js/package.json
  examples/create-react-app-ts/package-lock.json
  examples/create-react-app-ts/package.json
  examples/gatsby-js/gatsby-ssr.js
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/gatsby-ssr.js
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/next-js/package-lock.json
  examples/next-js/package.json
  examples/next-js/pages/_document.js
  examples/next-ts/package-lock.json
  examples/next-ts/package.json
  examples/next-ts/pages/_document.tsx
  examples/parcel-js/package-lock.json
  examples/parcel-js/package.json
  examples/parcel-ts/package-lock.json
  examples/parcel-ts/package.json
Due: npm run test:precommit, npm run lint

remove additional spaces
  .vscode/settings.json
  license
Due: npm run test:precommit, npm run lint

improve gatsby examples
  examples/gatsby-js/src/assets/logo.svg
  examples/gatsby-js/src/pages/index.js
  examples/gatsby-ts/src/assets/logo.svg
  examples/gatsby-ts/src/pages/index.tsx
Due: npm run test:precommit, npm run lint

Add license in readme
  examples/create-react-app-js/LICENSE
  examples/create-react-app-js/README.md
  examples/create-react-app-ts/LICENSE
  examples/create-react-app-ts/README.md
  examples/gatsby-js/LICENSE
  examples/gatsby-js/README.md
  examples/gatsby-ts/LICENSE
  examples/gatsby-ts/README.md
  examples/next-js/LICENSE
  examples/next-js/README.md
  examples/next-ts/LICENSE
  examples/next-ts/README.md
  examples/parcel-js/LICENSE
  examples/parcel-js/README.md
  examples/parcel-ts/LICENSE
  examples/parcel-ts/README.md
Due: npm run lint-md

Add readme in example repositories
  examples/create-react-app-js/README.md
  examples/create-react-app-ts/README.md
  examples/gatsby-js/.prettierignore
  examples/gatsby-js/.prettierrc
  examples/gatsby-js/README.md
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/.prettierignore
  examples/gatsby-ts/.prettierrc
  examples/gatsby-ts/README.md
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/next-js/README.md
  examples/next-js/package.json
  examples/next-ts/README.md
  examples/next-ts/package.json
  examples/parcel-ts/README.md
Due: npm run test:precommit, npm run lint, npm run lint-md

generate package-lock.json
  examples/create-react-app-js/package-lock.json
  examples/create-react-app-js/package.json
  examples/create-react-app-ts/package-lock.json
  examples/create-react-app-ts/package.json
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/next-js/package-lock.json
  examples/next-ts/package-lock.json
  examples/next-ts/package.json
  examples/parcel-js/package-lock.json
  examples/parcel-js/package.json
Due: npm run test:precommit, npm run lint

improve create-react-app example
  examples/create-react-app-js/README.md
  examples/create-react-app-js/public/index.html
  examples/create-react-app-js/src/App.js
  examples/create-react-app-js/src/logo.svg
  examples/create-react-app-ts/README.md
  examples/create-react-app-ts/public/index.html
  examples/create-react-app-ts/src/App.tsx
  examples/create-react-app-ts/src/logo.svg
Due: npm run test:precommit, npm run lint, npm run lint-md

add next.js example
  examples/next-js/.babelrc
  examples/next-js/.gitignore
  examples/next-js/README.md
  examples/next-js/package-lock.json
  examples/next-js/package.json
  examples/next-js/pages/_app.js
  examples/next-js/pages/_document.js
  examples/next-js/pages/index.js
Due: npm run test:precommit, npm run lint, npm run lint-md

add example for gatsby-typescript
  examples/gatsby-typescript/.gitignore
  examples/gatsby-typescript/.prettierignore
  examples/gatsby-typescript/.prettierrc
  examples/gatsby-typescript/LICENSE
  examples/gatsby-typescript/README.md
  examples/gatsby-typescript/gatsby-config.js
  examples/gatsby-typescript/gatsby-ssr.js
  examples/gatsby-typescript/package-lock.json
  examples/gatsby-typescript/package.json
  examples/gatsby-typescript/src/components/layout.tsx
  examples/gatsby-typescript/src/pages/index.tsx
  examples/gatsby-typescript/static/favicon.ico
  examples/gatsby-typescript/tsconfig.json
  examples/gatsby-typescript/yarn.lock
Due: npm run test:precommit, npm run lint, npm run lint-md

remove extra type from parcel-typescript example
  examples/parcel-typescript/src/App.tsx
Due: npm run test:precommit, npm run lint

improve nextjs examples
  examples/next-js/pages/_document.js
  examples/next-js/pages/index.js
  examples/next-js/public/logo.png
  examples/next-ts/pages/_document.tsx
  examples/next-ts/pages/index.tsx
  examples/next-ts/public/logo.png
Due: npm run test:precommit, npm run lint

generate package-lock.json
  examples/parcel-ts/package-lock.json
  examples/parcel-ts/package.json
Due: npm run test:precommit, npm run lint

add example of parcel-typescript
  examples/next-js-typescript/tsconfig.json
  examples/parcel-typescript/.gitignore
  examples/parcel-typescript/.parcelrc
  examples/parcel-typescript/package-lock.json
  examples/parcel-typescript/package.json
  examples/parcel-typescript/src/App.tsx
  examples/parcel-typescript/src/globalStyles.ts
  examples/parcel-typescript/src/index.html
  examples/parcel-typescript/src/index.tsx
  examples/parcel-typescript/tsconfig.json
Due: npm run test:precommit, npm run lint

lint examples dir
  .eslintignore
  .vscode/settings.json
  examples/gatsby-typescript/gatsby-config.js
  examples/gatsby-typescript/src/components/layout.tsx
  examples/gatsby-typescript/src/pages/index.tsx
  examples/gatsby/gatsby-config.js
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/src/components/layout.js
  examples/gatsby/src/pages/index.js
  examples/next-js-typescript/next-env.d.ts
  examples/next-js-typescript/pages/_app.tsx
  examples/next-js-typescript/pages/_document.tsx
  examples/next-js-typescript/pages/index.tsx
  examples/next-js/pages/_app.js
  examples/next-js/pages/_document.js
  examples/next-js/pages/index.js
Due: npm run test:precommit, npm run lint

sort package.json fields of example packages
  examples/create-react-app-js/package.json
  examples/create-react-app-ts/package.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/package.json
  examples/next-js/package.json
Due: npm run test:precommit, npm run lint

improve parcel examples
  examples/parcel-js/src/App.jsx
  examples/parcel-js/src/index.html
  examples/parcel-ts/src/App.tsx
  examples/parcel-ts/src/index.html
Due: npm run test:precommit, npm run lint

add example create-react-app with typescript
  examples/create-react-app-typescript/.env
  examples/create-react-app-typescript/.gitignore
  examples/create-react-app-typescript/README.md
  examples/create-react-app-typescript/package-lock.json
  examples/create-react-app-typescript/package.json
  examples/create-react-app-typescript/public/favicon.ico
  examples/create-react-app-typescript/public/index.html
  examples/create-react-app-typescript/public/logo192.png
  examples/create-react-app-typescript/public/logo512.png
  examples/create-react-app-typescript/public/manifest.json
  examples/create-react-app-typescript/public/robots.txt
  examples/create-react-app-typescript/src/App.tsx
  examples/create-react-app-typescript/src/globalStyles.js
  examples/create-react-app-typescript/src/index.tsx
  examples/create-react-app-typescript/src/logo.svg
  examples/create-react-app-typescript/src/react-app-env.d.ts
  examples/create-react-app-typescript/tsconfig.json
Due: npm run test:precommit, npm run lint, npm run lint-md

improving gatsby examples
  .vscode/settings.json
  examples/gatsby-js/gatsby-ssr.js
  examples/gatsby-js/static/favicon.ico
  examples/gatsby-ts/gatsby-ssr.js
  examples/gatsby-ts/static/favicon.ico
  examples/next-js/pages/_document.js
  examples/next-ts/pages/_document.tsx
Due: npm run test:precommit, npm run lint

add gatsby example
  examples/gatsby/.gitignore
  examples/gatsby/.prettierignore
  examples/gatsby/.prettierrc
  examples/gatsby/LICENSE
  examples/gatsby/README.md
  examples/gatsby/gatsby-config.js
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/package-lock.json
  examples/gatsby/package.json
  examples/gatsby/src/components/layout.js
  examples/gatsby/src/pages/index.js
  examples/gatsby/static/favicon.ico
  examples/gatsby/yarn.lock
Due: npm run test:precommit, npm run lint, npm run lint-md

add example for next.js with typescript
  examples/next-js-typescript/.gitignore
  examples/next-js-typescript/README.md
  examples/next-js-typescript/next-env.d.ts
  examples/next-js-typescript/package-lock.json
  examples/next-js-typescript/package.json
  examples/next-js-typescript/pages/_app.tsx
  examples/next-js-typescript/pages/_document.tsx
  examples/next-js-typescript/pages/index.tsx
  examples/next-js-typescript/tsconfig.json
Due: npm run test:precommit, npm run lint, npm run lint-md

linting examples
  examples/gatsby-js/gatsby-ssr.js
  examples/gatsby-js/src/pages/index.js
  examples/gatsby-ts/gatsby-ssr.js
  examples/gatsby-ts/src/pages/index.tsx
  examples/next-js/pages/index.js
  examples/next-ts/pages/index.tsx
  examples/parcel-js/src/App.jsx
  examples/parcel-js/src/globalStyles.js
  examples/parcel-js/src/index.js
  examples/parcel-ts/src/App.tsx
  examples/parcel-ts/src/globalStyles.ts
  examples/parcel-ts/src/index.tsx
Due: npm run test:precommit, npm run lint

add example for parcel
  examples/parcel-app/.gitignore
  examples/parcel-app/package-lock.json
  examples/parcel-app/package.json
  examples/parcel-app/readme.md
  examples/parcel-app/src/App.jsx
  examples/parcel-app/src/globalStyles.js
  examples/parcel-app/src/index.html
  examples/parcel-app/src/index.js
Due: npm run test:precommit, npm run lint, npm run lint-md

examples using create-react-app
  .vscode/settings.json
  examples/create-react-app/.env
  examples/create-react-app/.gitignore
  examples/create-react-app/README.md
  examples/create-react-app/package-lock.json
  examples/create-react-app/package.json
  examples/create-react-app/public/favicon.ico
  examples/create-react-app/public/index.html
  examples/create-react-app/public/logo192.png
  examples/create-react-app/public/logo512.png
  examples/create-react-app/public/manifest.json
  examples/create-react-app/public/robots.txt
  examples/create-react-app/src/App.js
  examples/create-react-app/src/globalStyles.js
  examples/create-react-app/src/index.js
  examples/create-react-app/src/logo.svg
Due: npm run test:precommit, npm run lint, npm run lint-md

Enhance LICENSE information
  LICENSE
Due: none

Add box-sizing support
  src/index.ts
  test/dom-leak.test.tsx
  test/props.test.tsx
Due: npm run test:precommit, npm run lint

Fix issue related to typescript typing of FlexItem component
  src/index.ts
Due: npm run test:precommit, npm run lint

fix test cases and lint issues
  src/index.ts
  test/props.test.tsx
Due: npm run test:precommit, npm run lint

testing types using ts-expect
  package-lock.json
  package.json
  test/types.test.ts
Due: npm run test:precommit, npm run lint

modularise types in types.d.ts module
  src/index.ts
  src/types.d.ts
Due: npm run test:precommit, npm run lint

Add test:types script and install react-dom types
  .circleci/config.yml
  .github/workflows/publish.yml
  .github/workflows/workflow.yml
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint

low maintenance types
  src/constants.ts
  src/index.ts
  test/types.test.ts
Due: npm run test:precommit, npm run lint

Add new props to box component: min-height, max-height, min-width, max-width
  src/constants.ts
  src/index.ts
  src/types.d.ts
  test/dom-leak.test.tsx
  test/props.test.tsx
  test/types.test.ts
Due: npm run test:precommit, npm run lint

clean test scripts
  .circleci/config.yml
  .github/workflows/publish.yml
  .github/workflows/workflow.yml
  jest.config.js
  package.json
  test/types.test.ts
Due: npm run test:precommit, npm run lint

sort npm scripts
  package.json
Due: npm run test:precommit, npm run lint

Update examples to test with latest version
  examples/create-react-app-js/package-lock.json
  examples/create-react-app-js/package.json
  examples/create-react-app-js/src/App.js
  examples/create-react-app-ts/package-lock.json
  examples/create-react-app-ts/package.json
  examples/create-react-app-ts/src/App.tsx
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-js/src/pages/index.js
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/gatsby-ts/src/pages/index.tsx
  examples/gatsby-ts/tsconfig.json
  examples/next-js/package-lock.json
  examples/next-js/package.json
  examples/next-js/pages/index.js
  examples/next-ts/package-lock.json
  examples/next-ts/package.json
  examples/next-ts/pages/index.tsx
  examples/parcel-js/package-lock.json
  examples/parcel-js/package.json
  examples/parcel-js/src/App.jsx
  examples/parcel-ts/package-lock.json
  examples/parcel-ts/package.json
  examples/parcel-ts/src/App.tsx
Due: npm run test:precommit, npm run lint

add support for css position in Box component
  src/constants.ts
  src/index.ts
  src/types.d.ts
  test/dom-leak.test.tsx
  test/props.test.tsx
Due: npm run test:precommit, npm run lint

Path conditions:
  npm run test:precommit: any of: *.{js,ts,jsx,tsx,json}
  npm run lint: any of: *.{js,ts,jsx,tsx,json}
  npm run lint-md: any of: *.md
