Repository ppiyush13/react-styled-flex: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test:precommit, npm run lint, npm run lint-md

add documentation for next release
  .vscode/settings.json
  README.md
  assets/fouc.gif
Due: npm run test:precommit, npm run lint, npm run lint-md

prefix emojis
  README.md
Due: npm run lint-md

update documentation
  .vscode/settings.json
  README.md
  assets/fouc.gif
Due: npm run test:precommit, npm run lint, npm run lint-md

upgrade example packages
  examples/create-react-app-js/package-lock.json
  examples/create-react-app-js/package.json
  examples/create-react-app-ts/package-lock.json
  examples/create-react-app-ts/package.json
  examples/gatsby-js/package-lock.json
  examples/gatsby-js/package.json
  examples/gatsby-ts/package-lock.json
  examples/gatsby-ts/package.json
  examples/next-js/package-lock.json
  examples/next-js/package.json
  examples/next-ts/package-lock.json
  examples/next-ts/package.json
  examples/parcel-js/package-lock.json
  examples/parcel-js/package.json
  examples/parcel-ts/package-lock.json
  examples/parcel-ts/package.json
Due: npm run test:precommit, npm run lint

update readme links
  README.md
Due: npm run lint-md

add margin props to Box component
  src/constants.ts
  src/index.ts
  src/types.d.ts
  test/dom-leak.test.tsx
Due: npm run test:precommit, npm run lint

shorthand props for margin and padding
  src/constants.ts
  src/index.ts
  src/types.d.ts
  test/dom-leak.test.tsx
Due: npm run test:precommit, npm run lint

update docs
  README.md
Due: npm run lint-md

shorthand props for margin and padding
  README.md
Due: npm run lint-md

update redme
  README.md
Due: npm run lint-md

Fix children definition in FlexItem
  src/types.d.ts
Due: npm run test:precommit, npm run lint

Execute flex gap feature detection logic in DOMContentLoaded event handler
  src/detect-flex-gap-support.ts
  test/detect-flex-gap-support.test.ts
  test/util/mock-dom-content-loaded.ts
Due: npm run test:precommit, npm run lint

Fix lint issues
  test/detect-flex-gap-on-load.test.ts
  test/detect-flex-gap-support.test.ts
  test/util/mock-dom-content-loaded.ts
Due: npm run test:precommit, npm run lint

update dependencies
  package-lock.json
  package.json
  test/util/mock-dom-content-loaded.ts
Due: npm run test:precommit, npm run lint

Add support for border rules
  src/constants.ts
  src/index.ts
  src/types.d.ts
  test/dom-leak.test.tsx
  test/props.test.tsx
Due: npm run test:precommit, npm run lint

add support for overflow, outline styles
  src/constants.ts
  src/index.ts
  src/types.d.ts
  test/dom-leak.test.tsx
  test/props.test.tsx
Due: npm run test:precommit, npm run lint

prettify code
  .circleci/config.yml
  .codacy.yml
  .eslintrc
  .github/workflows/publish.yml
  .github/workflows/workflow.yml
  .prettierignore
  .prettierrc
  .vscode/launch.json
  .vscode/settings.json
  README.md
  jest.config.js
  package-lock.json
  package.json
  rollup.config.mjs
  rollup.load-package-json.cjs
  src/constants.ts
  src/detect-flex-gap-support.ts
  src/index.ts
  src/types.d.ts
  test-setup.ts
  test/detect-flex-gap-on-load.test.ts
  test/detect-flex-gap-support-ssr.test.ts
  test/detect-flex-gap-support.test.ts
  test/dom-leak.test.tsx
  test/gap.test.tsx
  test/props.test.tsx
  test/react-styled-flex.test.ts
  test/ref.test.tsx
  test/types.test.ts
  test/util/mock-computed-styles.ts
  test/util/mock-dom-content-loaded.ts
  tsconfig.json
  types/styled-components.d.ts
Due: npm run test:precommit, npm run lint, npm run lint-md

configure eslint prettier plugin
  .eslintrc
  .remarkrc
  package-lock.json
  package.json
Due: npm run test:precommit, npm run lint

Path conditions:
  npm run test:precommit: any of: *.{js,ts,jsx,tsx,json}
  npm run lint: any of: *.{js,ts,jsx,tsx,json}
  npm run lint-md: any of: *.md
